<ng-container *ngIf="items() as productItem">
    <div class="container">
        <div class="row product-listing-filter">
            <div class="col-md-3">
                <div class="product-filter">
                  <app-category-section [catagories]="(catagories$ | async) || []"></app-category-section>
                  <app-brand-section></app-brand-section>
                  <app-product-rating-section></app-product-rating-section>
                </div>
            </div>
            <div class="col-md-9">
                <div class="product-list-wrap">
                    <div class="product-list">
                        <div class="product-item" *ngFor="let item of productItem; trackBy:trackBy">
                            <app-product-card [product]="item" ></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <paginator *ngIf="totalCount() && totalCount() >= 20" class="d-block" [rows]="20"
        [totalRecords]="totalCount()"></paginator>
    <ng-container *ngIf="items()?.length === 0">
        <div class="row">
            <div class="col-lg-7 col-md-9 mx-auto">
                <listing-state-card [assetUrl]="assetUrl"
                    [description]="'noDataFoundDescription'"
                    [title]="'noDataFound'"></listing-state-card>
            </div>
        </div>
    </ng-container>
</ng-container>
<ng-container *ngIf="errorMessage()">
    <listing-state-card description="internalErrorDescription"
        [title]="errorMessage()! || 'internalError'"></listing-state-card>
</ng-container>
<preloader [assetUrl]="assetUrl" *ngIf="isLoading()"></preloader>