@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*  English Variables direction.
================================ */
$def-float: left;
$opp-float: right;
$def-direction: ltr;
$opp-direction: rtl;

// Typography
$font-family-base: "Open Sans", sans-serif;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$line-height-base: 1.5;
