.brand{
    &:not(:last-child) {
        margin-bottom: remDefault(25px);
    }
    &-name {
        font-size: remDefault(16px);
        color: $dark-e-black;
        font-weight: 600;
    }
    &-count {
        display: flex;
        justify-content: center;
        border: 1px solid $light-s-gray;
        border-radius: remDefault(16px);
        background: $light-f-gray;
        font-size: remDefault(12px);
        width: remDefault(28px);
        height: remDefault(22px);
    }
}
.price-section {
   .price-wrap > span {
        color: $gray-d;
        font-size: remDefault(16px);
        font-weight: 600;
    }
    .p-inputnumber-input {
        width: remDefault(85px);
        border-radius: remDefault(8px);
    }
}
.rating {
    &-label {
        color: $gray-d;
        border-radius: remDefault(16px);
    }
}