.brand{
    &-name {
        font-size: remDefault(16px);
        color: $dark-e-black;
        font-weight: 600;
    }
    &-count {
        display: flex;
        justify-content: center;
        border: 1px solid $light-s-gray;
        border-radius: remDefault(16px);
        background: $light-f-gray;
        font-size: remDefault(12px);
        width: remDefault(28px);
        height: remDefault(22px);
    }
}

.rating {
    &-label {
        color: $gray-d;
        border-radius: remDefault(16px);
    }
}